.profile {
  min-height: 600px;
  padding: 50px 0 100px;
  background: linear-gradient(
    0deg,
    rgba(114, 114, 114, 0.28) 0,
    rgb(239, 240, 252) 100%
  );
  position: relative;

  @media only screen and (max-width: 500px) {
    padding: 20px 0;
  }
  @media only screen and (max-width: 500px) {
    padding: 10px 0;
  }

  .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 9998;
    animation: fadeIn 0.15s ease-in;
    backdrop-filter: blur(4px);
  }

  nav {
    margin: 0 auto;
    width: 80%;
    max-width: 1400px;
    overflow-x: auto;

    @media only screen and (max-width: 1050px) {
      width: 95%;
    }

    ul {
      list-style: none;
      padding: 10px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      overflow-x: auto;
      white-space: nowrap;
      flex-shrink: 0;
      align-items: center;

      @media only screen and (max-width: 860px) {
        width: fit-content;
      }

      .profile-links-wrapper {
        margin-right: auto;
        margin-left: -37px;

        @media only screen and (max-width: 860px) {
          margin-left: 20px;
        }
      }

      .profile-img-li {
        margin-right: auto;
        width: auto;

        img {
          max-width: 35px;
          cursor: pointer;
          border-radius: 100%;
          border: 2px solid rgb(0 0 0 / 60%);
          padding: 2px;
          opacity: 0.7;

          @media only screen and (max-width: 500px) {
            width: 40;
            max-width: 40px;
          }
        }
      }

      li {
        display: inline-block;
        text-align: center;
        width: 100px;

        &:last-child {
          margin-right: auto;
        }

        a {
          margin: 0 auto;
          display: block;
          color: #343434c5;
          font-weight: 600;
          padding: 3px 3px;
          border-radius: 8px;
          text-decoration: none;
          white-space: break-spaces;

          @media only screen and (max-width: 600px) {
            font-size: 14px;
            padding: 2px 10px;
          }
          &:hover {
            color: #455cd9;
            background-color: #ffffff54;
            text-decoration: none;
          }
        }
        .active-profile-nav-link {
          color: #455cd9;
          background-color: #ffffff54;
          text-decoration: none;
          box-shadow: 0 0 50px 5px rgba(94, 94, 94, 0.2);
        }
      }
    }
  }

  .hero-profile {
    width: 300px;
    height: 450px;
    padding: 1% 1%;
    display: flex;
    flex-direction: column;
    margin: 17px auto 20px;
    gap: 5%;
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    animation: fadeIn 0.15s ease-in;

    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    -webkit-box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    -moz-box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    p {
      margin-bottom: 4px;
    }
    .top {
      display: flex;
      align-items: center;
      gap: 5%;
      justify-content: flex-start;
      border-width: 2px !important;
      border-style: solid;
      border-image-slice: 1;
      border-width: 5px;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-image-source: linear-gradient(
        to right,
        #35428698 0%,
        #2794a786 100%
      );
      h4 {
        margin: 0;
      }
      img {
        margin: 5%;
        height: 48px;
        border-radius: 100%;
      }
    }
    .info {
      font-size: 16px;
      text-align: start;
      margin: 5%;
      color: #555;
      font-weight: bold;
      p {
        margin-bottom: 15px;
      }
      span {
        padding: 5px;
        color: #455cd9;
        font-weight: 600;
      }
    }
  }
  .profile-form {
    line-height: 14px;
    margin: 13px auto;
    padding: 2% 4%;
    width: 80%;
    max-width: 1400px;
    height: 500px;
    background-color: #f3f3f3;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 15px;
    box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    -webkit-box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    -moz-box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    @media only screen and (max-width: 1050px) {
      width: 95%;
      padding: 2% 1%;
    }
    @media only screen and (max-width: 500px) {
      font-size: 13px;
    }
    @media only screen and (max-width: 370px) {
      padding: 5px;
    }
    .role-selector {
      width: fit-content;
      outline: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
    button:hover {
      background-color: #dfbf4d;
    }
    .smaller-profile {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
    }
    .form {
      height: 100%;

      .phone-col {
        position: relative;
        .PhoneInputCountrySelect {
          width: 70%;
        }
        .PhoneInputCountryIconImg {
          height: 30px;
          border-radius: 10px;
          position: absolute;
          right: 3%;
          top: 10%;
        }
      }
      .organize-top-part {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 25px;

        div {
          h3 {
            font-size: 14px;
            font-weight: 600;

            span {
              color: #455cd9;
            }
          }
        }

        .images-wrapper {
          background-color: #fff;
          width: 100%;
          border-radius: 10px;
          height: 160px;
          display: flex;
          padding: 5px;
          margin-top: 10px;

          div {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:nth-child(1) {
              border-right: 1px solid rgba(69, 91, 217, 0.5);
            }
          }

          img {
            width: 20%;
            height: auto;
            cursor: pointer;
          }
        }
      }

      .organize-middle-part {
        display: flex;
        width: 100%;

        div {
          width: 100%;
          display: flex;
          align-items: center;

          .sponsors-ul {
            margin-left: auto;
            text-align: center;
            padding: 2px 5px;
            list-style: none;
            overflow-y: auto;
            height: 50px;
            overflow-x: hidden;
            width: 130px;
            word-wrap: break-word;
            background-color: #fff;
            border-radius: 10px;

            li {
              font-size: 13px;
              margin-bottom: 3px;
            }

            .not-selected-sponsor {
              text-align: center;
              margin-top: 11px;

              span {
                color: red;
              }
            }
          }

          .custom-file-input {
            width: 150px;
          }

          .custom-file-input::-webkit-file-upload-button {
            visibility: hidden;
          }

          .custom-file-input::before {
            content: 'Odaberi sponzore';
            display: inline-block;
            background: linear-gradient(top, #f9f9f9, #e3e3e3);
            border: 2px solid #999;
            border-radius: 10px;
            padding: 5px 8px;
            outline: none;
            white-space: nowrap;
            height: 28px;
            -webkit-user-select: none;
            cursor: pointer;
            text-shadow: 1px 1px #fff;
            font-weight: 700;
            font-size: 10pt;
          }
          .custom-file-input:hover::before {
            border-color: black;
          }
          .custom-file-input:active::before {
            background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
          }

          input {
            width: 90%;
          }

          div {
            width: 33.33%;

            .location-input {
              width: 100%;
              height: 32px;
            }
            &:nth-child(1) {
              .location-input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
            &:nth-child(2) {
              position: relative;

              .location-input {
                border-radius: 0;
                margin: 0 2px;
              }
            }
            &:nth-child(3) {
              .location-input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }

            .all-cities {
              position: absolute;
              top: 34px;
              right: 0;
              left: 0;
              margin: 0 auto;
              width: 98.5%;
              height: 100px;
              background-color: rgba(69, 91, 217, 0.108);
              visibility: hidden;
              opacity: 0;
              transition: visibility 0.2s, opacity 0.2s;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              padding: 4px 10px;
              word-wrap: break-word;
              overflow-y: auto;

              ul {
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                list-style: none;
                border-radius: 5px;
                position: relative;

                .city-error {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  left: 0;
                  right: 0;
                  border: none;
                  pointer-events: none;

                  a {
                    color: red;
                  }
                }

                li {
                  border-radius: 5px;

                  a {
                    padding: 10px 0;
                    display: block;
                    width: 100%;
                    text-decoration: none;
                    color: #343434;
                    border-radius: 5px;

                    &:hover {
                      background-color: #fff;
                    }
                  }
                }

                div {
                  height: 4px;
                  width: 100%;
                }
              }
            }
          }

          select {
            width: 90%;
            margin-left: auto;
          }
        }

        .select-div {
          input {
            margin-left: auto;
          }

          .profile-date-input {
            &::-webkit-datetime-edit-fields-wrapper {
              color: #757575;
            }
          }
        }
      }
      @media only screen and (max-width: 600px) {
        .time-sponsors {
          flex-direction: column;
          div {
            .custom-file-input {
              padding: 1px;
            }
            input {
              width: 100%;
            }
            .sponsors-ul {
              margin-left: auto;
              @media only screen and (max-width: 350px) {
                margin-left: 4px;
              }
            }
          }
        }
      }
      .preset-category {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        gap: 20px;

        p {
          margin-bottom: 0;
          color: #455cd9;
          font-weight: 600;
          width: 100%;
          text-align: center;
        }
      }
    }
    .organize-form {
      .row {
        padding-bottom: 20px;
      }
    }
    .add-reseller-container {
      .row {
        justify-content: unset;
        gap: 0;

        #info-icon {
          width: 45px;
          margin-left: auto;
        }
        .link-icon {
          width: 20px;
          padding: 0;
          display: block;
          margin-right: 13px;

          img {
            width: 100%;
          }
        }

        .col-lg-6 {
          width: 50%;
          display: flex;
          flex-direction: column;

          input {
            width: 90%;
          }

          div {
            display: flex;
            align-items: center;
          }
        }
        .col-lg-6:nth-child(2) {
          input {
            margin-left: auto;
          }
        }

        h6 {
          color: #455cd9;
          font-size: 16px;
          font-weight: 600;
        }
      }
      form {
        button {
          margin: 30px auto 20px auto;
          display: block;

          font-size: 14px;
        }
      }

      .control-acc-wrapper {
        width: 96.5%;
        height: 60px;
        border-radius: 7px;
        margin: 0 auto 10px auto;
        display: flex;
        align-items: center;
        padding: 5px 10px;

        &:nth-child(odd) {
          background-color: rgba(69, 91, 217, 0.15);

          img {
            background-color: rgba(255, 255, 255, 0.9);
          }

          .control-line {
            background-color: #fff;
          }
        }
        &:nth-child(even) {
          background-color: #fff;

          img {
            background-color: rgba(69, 91, 217, 0.153);
          }

          .control-line {
            background-color: rgba(69, 91, 217, 0.303);
          }
        }

        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
          border-radius: 50%;
          padding: 7px;
          margin-left: auto;

          &:hover {
            transform: scale(1.05);
          }
        }
        img:nth-child(6) {
          margin-right: 5px;
        }

        p {
          margin: 0;
          font-weight: 600;
          text-align: center;
        }

        p:nth-child(1) {
          width: 30%;
        }
        p:nth-child(5) {
          width: 20%;
        }
        p:nth-child(3) {
          width: 50%;
        }

        .control-line {
          height: 90%;
          width: 1px;
        }
      }

      .control-acc-row {
        margin-bottom: 20px;
      }
    }

    input,
    select,
    textarea {
      padding: 5px;
      border: none;
      margin: 10px 0;
      border-radius: 10px;
      width: 100%;
    }

    select {
      color: #455cd9;
    }

    .organizer-events-select {
      width: 90%;
    }

    textarea {
      height: 130px;
      resize: none;
      margin-top: 0;
    }
    .textarea-limit {
      margin: 25px 0 0 0;
      text-align: right;
      font-size: 14px;
      color: #455cd9;
    }

    button {
      margin: 20px auto 0;
      right: 50%;
      max-width: 180px;
      text-align: center;
      background-color: #f4cd46;
      border-radius: 15px;
      padding: 10px 15px;

      border: none;
      cursor: pointer;
    }
  }
}
