.request-resseler-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .reseller-request-msg {
    color: #455cd9;
    margin-bottom: auto;
    font-weight: 600;
  }

  form {
    width: 50%;
    background-color: rgba(69, 91, 217, 0.108);
    padding: 25px;
    border-radius: 10px;

    @media only screen and (max-width: 515px) {
      width: 83%;
    }

    input {
      text-align: center;
    }

    button {
      display: block;
      margin: 0 auto;
      width: 120px;
      font-size: 15px;
    }

    p {
      margin: 50px 0 0;
      text-align: center;
      font-size: 13px;
      line-height: 20px;
    }
  }
}
