.profile .profile-form .form .organize-middle-part .sponsor-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(216, 216, 216, 0.85);
  width: 80%;
  max-height: 500px;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 998;
  .modal-content {
    width: 90%;
    height: 350px;
    margin: 0 auto;

    .sponsors-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: auto;
      .sponsor-row {
        width: 100%;
        display: flex;
        position: static;
        justify-content: space-between;
        align-items: center;
        margin: 5px auto;
        img {
          max-height: 32px;
          max-width: 100px;
          object-fit: cover;
        }
        label,
        span {
          width: 20%;
        }
      }
    }
  }
  .modal-btn-close {
    font-size: 14px;
  }
}
