.page {
  width: 21cm;
  min-height: 29.7cm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  page-break-after: always;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  size: 21cm 29.7cm;
  background-color: rgb(255, 255, 255);
  font-family: "Text", "Nunito", "Trebuchet MS", sans-serif;
}
@font-face {
  font-family: "Text";
  src: url("fonts/Exo-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Name";
  src: url("fonts/rexlia rg.otf") format("opentype");
}

.section3 {
  margin: 0;
  position: relative;
  background-color: #fff;
  .main-container {
    border-top: #3d627a dotted 2px;
    border-bottom: #3d627a dotted 2px;
    .top-stripe {
      background: linear-gradient(120deg, #354286 0%, #2793a7 100%);
      border-radius: 0 0 15px 15px;
      color: white;
      margin: 0;
      padding: 0;
      opacity: 0;
      height: 30px;
      .logos {
        width: 100%;
        margin: 0 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;

        .event {
          color: white;
          font-weight: 600;
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }

  .inner-container {
    height: 190px;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    .left {
      width: 71.4%;
      color: #333333;
      margin-right: 5px;

      .top {
        height: 190px;
        display: flex;
        gap: 10px;
        background-image: linear-gradient(to top, #ececec, #fff);
        border-radius: 10px;

        .info {
          height: 187px;
          margin: 4px 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .info-wrapper {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            .info-left {
              width: 400px;
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
            }
            .info-right {
              display: flex;
              flex-direction: column;
              text-align: center;
              justify-content: space-around;
              position: absolute;
              right: 15px;
              bottom: 80px;

              .large-letter {
                flex-grow: 1;
                font-family: "Name", Arial, Helvetica, sans-serif;
                font-size: 112px;
                font-weight: 400;
                display: inline-block; /* Make sure the element wraps the content */
              }
            }
          }
        }

        .time,
        .location,
        .ticket-location,
        .serial-number,
        .price {
          font-size: 15px;
          display: inline-block;
          font-weight: 600;
        }
        .ticket-location {
          text-transform: uppercase;
        }
        .preformer {
          display: block;
          margin: 0px;
          font-size: 34px;
          text-transform: uppercase;
          font-family: "Name", Arial, sans-serif;
          font-weight: 700;
        }
        .serial-number,
        .price {
          font-size: 17px;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        .price-qr {
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
    }
    .right {
      transform: translateY(1px);
      width: 28.57%;
      border-left: 0.8px solid #7c8ce4;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .left-part {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-grow: 1;
        justify-content: space-around;
        .left-part-row {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }
      }
      .left-part span {
        font-size: 15px;
        width: 100%;
      }

      .right-part {
        margin: 0 auto;
        .qr {
          width: 100px;
        }
      }
    }
  }
  .bot {
    height: 40px;
    background-image: linear-gradient(to top, #ececec, #fff);
    display: flex;
    padding: 3.3px 5px;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    flex-grow: 1;

    .sponsor {
      max-height: fit-content;
      max-width: 55px;
      max-height: 45px;
    }
  }
  .bottom-stripe {
    height: 10px;
    background: linear-gradient(120deg, #2793a7 0%, #354286 100%);
    border-radius: 15px 15px 0 0;
    opacity: 0;
  }
}
.serial-number {
  font-weight: 600;
  font-size: 15px;
}
.color-text {
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Name";
}
