.page {
  width: 21cm;
  min-height: 29.7cm;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  size: 21cm 29.7cm;
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
  color: #333333;
}
.section1,
.section2,
.section3,
.section4 {
  background-color: rgb(255, 255, 255);
  height: 280.175px;
}

.section1 {
  .nav {
    padding: 10px;
    display: flex;
    gap: 15px;
    height: 70px;
    justify-content: space-between;
    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      font-size: 22px;

      .logo-img {
        width: 60px;
        height: 60px;
      }
    }
    .line {
      background-color: black;
      width: 95%;
      height: 1px;
      display: flex;
      justify-self: center;
      align-self: center;
    }
    .codes {
      width: 30%;
      display: flex;
      justify-content: space-between;
      .qr {
        height: 110px;
      }
    }
  }
  .body-1 {
    display: flex;
    .mini-poster-wrapper {
      margin: 0 10px;
      .mini-poster {
        border-radius: 10px;
        width: 170px;
        transform: translateY(-10px);
      }
    }
    .guidence {
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 0;
      padding-right: 10px;
    }
  }
}
p {
  margin: 6px;
}
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
  .important {
    color: #3d627a;
    width: 96.5%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 130%;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    background-image: linear-gradient(to top, #dfdfdf, #f0f0f0);
    border-radius: 0 10px 10px 10px;
    z-index: 10;
  }
  .guide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .h4-text {
    color: rgb(61, 98, 122);
    font-size: 16px;
    width: 26%;
  }
  .arrow {
    width: 50px;
  }
  .guide-scheme {
    width: 250px;
  }
}
.section3 {
  margin: 0;
  position: relative;
  background-color: #fff;
  .main-container {
    height: 99%;
    border-top: #3d627a dotted;
    border-bottom: #3d627a dotted;
    padding-bottom: 5px;
  }
  .savijacica {
    border-radius: 10px;
    background-color: #f3f3f3;
    z-index: 999;
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    color: #3d627a;
  }
  .top {
    top: -16px;
    left: 35%;
  }
  .down {
    bottom: -22px;
    left: 33%;
  }
  .inner-container {
    display: flex;
    align-items: stretch;
    .left {
      width: 71.4%;
      color: #333333;
      height: 210.5px;
      margin-right: 5px;
      .top {
        display: flex;
        gap: 10px;
        background-image: linear-gradient(to top, #ececec, #fff);
        border-radius: 10px;
        .poster {
          border-radius: 0 10px 10px;
          height: 230px;
          width: 320px;
          object-fit: cover;
          object-position: -20px;
          img {
            border-radius: 0 10px 10px;
          }
        }
        .info {
          margin: 8px auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
        }
        .h5 {
          font-size: 22px;
          margin: 0px;
        }
        .time,
        .location,
        .ticket-location,
        .serial-number,
        .price {
          text-align: center;
          font-size: 15px;
          display: inline-block;
          font-weight: 600;
          margin-bottom: 8px;
        }
        .ticket-location {
          text-transform: uppercase;
        }
        .preformer {
          margin: 0;
        }
        .serial-number,
        .price {
          font-size: 18px;
          margin-bottom: 0;
          padding-bottom: 0;
        }

        .price-qr {
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
      .bot {
        height: 40px;
        background-image: linear-gradient(to top, #ececec, #fff);
        display: flex;
        padding: 3px;
        justify-content: space-between;
        align-items: center;
        .logos {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .logo {
            height: 40px;
          }
          .event {
            color: #555555;
            font-weight: 700;
            font-size: 12px;
            margin: 0;
          }
        }
        .sponsor {
          max-height: 25px;
          max-width: 40px;
        }
      }
    }
    .right {
      transform: translateY(1px);
      width: 28.57%;
      height: 210.5px;
      border-left: 0.8px solid #7c8ce4;
      display: flex;
      flex-direction: column;
      .left-part {
        height: 284px;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
      }
      .left-part span {
        font-size: 16px;
        width: 100%;
        text-align: center;
      }
      .left-part div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .right-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .qr {
          width: 150px;
        }
      }
    }
  }
}
.serial-number {
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
}
.color-text {
  color: #3d627a;
  font-weight: 700;
  text-transform: uppercase;
}
.section4 {
  display: flex;

  .section4-1st {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;
    width: 12%;
    border-top: 0.5px solid rgba(124, 140, 228, 0.604);

    .qr {
      width: 110px;
    }
  }
  .section4-2nd {
    margin: 20px 10px 10px;
    width: 88%;
    border-top: 0.5px solid rgba(124, 140, 228, 0.604);
    border-bottom: 2px solid #7c8ce4;

    .color-text {
      font-size: 12px;
    }
  }

  .section4-2nd p {
    margin: 0 5px 0 0;
    font-size: 10px;
  }
  .section4-2nd p:nth-child(3) {
    text-align: right;
    font-size: 12px;
    color: #000;
    font-weight: 600;
  }
}
