.buy-container {
  min-height: 700px;
  width: 95%;
  background-color: #eceefb;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 90px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-100px);
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
  .left,
  .right {
    width: 45%;
    margin: 2%;
    @media only screen and (max-width: 600px) {
      width: 90%;
      margin: 15px auto;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    .top-buy-page {
      border-width: 2px !important;
      border-style: solid;
      border-image-slice: 1;
      border-width: 5px;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-image-source: linear-gradient(
        to right,
        rgba(53, 66, 134, 0.5960784314) 0%,
        rgba(39, 148, 167, 0.5254901961) 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      @media only screen and (max-width: 360px) {
        flex-direction: column;
      }
      .info {
        @media only screen and (max-width: 600px) {
          transform: scale(0.9);
        }
        @media only screen and (max-width: 360px) {
          text-align: center;
          h3,
          p {
            margin-bottom: 3px;
          }
        }
      }
      .info-buy-page-image {
        display: none;
        width: 200px;
        border-radius: 10px;
        margin-bottom: 10px;
        @media only screen and (max-width: 600px) {
          width: 150px;
          display: block;
        }
        @media only screen and (max-width: 360px) {
          width: 80%;
        }
      }
    }
    .amount {
      display: flex;
      gap: 10px;
      align-items: center;
      h4 {
        margin-bottom: 0;
      }
      @media only screen and (max-width: 600px) {
        width: 90%;
        margin: auto;
      }
      .left {
        width: 60%;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        gap: 10%;
        flex-direction: row;

        button {
          border: none;
          transform: scale(0.8);
          @media only screen and (max-width: 600px) {
            transform: scale(0.6);
          }
        }
        span {
          font-size: 34px;
          @media only screen and (max-width: 600px) {
            font-size: 24px;
          }
        }
      }
    }
    .specification {
      display: flex;
      flex-direction: column;
      height: auto;
      flex-grow: 1;
      .slider-bar {
        text-align: center;
        width: 80%;
        padding: 8px 20px;
        border-radius: 10px 10px 0 0;
        margin: 0 auto;
        white-space: nowrap;
        overflow-x: auto;
        background-color: #455cd9;
        .sliders {
          .slider-cards {
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: inline-block;
            padding: 2px 5px;
            margin: 0 10px;
            border-radius: 5px;
            font-size: 14px;
            color: #fff;
          }
          height: 25px;
          transform: translateX(-10px);
          .active-card {
            color: #455cd9;
            background-color: #fff;
            font-weight: 700;
          }
        }
      }

      .personalization {
        margin: 0 5px;
        background-color: #dadada;
        border-radius: 10px;
        flex-grow: 1;
        max-height: 450px;
        overflow-y: auto;

        h4 {
          margin-top: 3%;
          @media only screen and (max-width: 600px) {
            font-size: 19px;
          }
        }

        .ticket-card {
          display: flex;
          text-align: center;
          justify-content: space-around;
          align-items: center;
          margin: 4%;
          transition: all 0.2s ease;
          flex-wrap: wrap;
          gap: 15px;
          .active {
            transform: scale(1.1);
            box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.25);
            background: linear-gradient(to top, #181785 0%, #2692da 100%);
          }
        }

        .ticket-card-inner {
          margin-bottom: 15px;
          max-width: 280px;
          background: linear-gradient(to top, #243bad 0%, #2692da 100%);
          color: #fff;
          padding: 15px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-radius: 10px;
          @media only screen and (max-width: 600px) {
            padding: 5px;
            transform: scale(0.95);
            width: 100px;
          }
          &:hover,
          .acitve {
            transform: scale(1.1);
            box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.25);
            background: linear-gradient(to top, #181785 0%, #2692da 100%);
          }
          .ticket-card-name {
            border-radius: 10px;
            background-color: #3541f1;
            padding: 3px 8px;
          }
          .VIP,
          .Vip {
            background: radial-gradient(
              circle at center,
              #fdffc1,
              #fff025,
              #ddbe0e
            );
            color: #4e4e4e;
            font-weight: bold;
          }
          .Standard {
            background-color: #e6e6e6;
            color: #343434;
          }
        }

        .person-check-flex {
          display: flex;
          margin: 0 0 5% 3%;
          padding: 10px;
          justify-content: space-between;
          align-items: center;
          input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1.65em;
            height: 1.65em;
            border: 0.15em solid currentColor;
            border-radius: 0.3em;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
            border: #555555 solid 3px;
          }

          input[type="checkbox"]::before {
            content: "✓";
            transform: scale(1.3);
            font-size: 1em;
            font-weight: bold;
            color: #555555;
            opacity: 0;
            transition: 120ms opacity ease-in-out;
          }

          input[type="checkbox"]:checked::before {
            opacity: 1;
          }

          input[type="checkbox"]:focus {
            outline: none;
          }

          :root {
            --form-control-disabled: #959495;
          }

          input[type="checkbox"]:disabled {
            --form-control-color: var(--form-control-disabled);
            color: #455cd9;
            cursor: not-allowed;
          }

          .form-control--disabled {
            color: #455cd9;
            cursor: not-allowed;
          }
        }

        .profile-form {
          line-height: 14px;
          margin: 0 auto 5%;
          padding: 4%;
          max-width: 800px;
          border-radius: 15px;

          input {
            padding: 5px;
            border: none;
            margin: 10px 0;
            border-radius: 10px;
            width: 100%;
          }

          button {
            margin: 5px auto;
            right: 50%;
            max-width: 180px;
            text-align: center;
            background-color: #f4cd46;
            border-radius: 15px;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            &:hover {
              background-color: #dbb83f;
            }
          }
        }
        .choose-place {
          margin: 0 0 5% 3%;
          padding: 0 10px;
        }
      }
      .rec-arrow {
        display: none;
      }
      .rec-pagination {
        display: none !important;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    img {
      margin: 0 auto;
      width: 100%;
      height: fit-content;
      aspect-ratio: 16/9;
      border-radius: 10px;
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
    .payment-bill {
      background-color: #455cd9;
      max-height: 300px;
      width: 85%;
      margin: 0 auto;
      border-radius: 10px;
      overflow-y: auto;
      @media only screen and (max-width: 600px) {
        max-height: 150px;
      }

      .ticket-bill {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #d8d8d8;
        padding-bottom: 5px;
        margin: 3% 6%;
        font-size: 18px;
        border-bottom: #cccccc solid 2px;

        span {
          font-size: 20px;
        }
      }
    }
    .saldo {
      color: #343434;
      margin: 4% 8% 8% 8%;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 22px;
      border-bottom: #4e4e4e solid 2px;
      span {
        font-weight: 700;
      }
    }
    .payment-method {
      font-size: 22px;
      margin: 4% 8% 8% 8%;
      width: 80%;
      margin: 0 auto;
      .pay-method {
        margin: 5px 5px 10px;
        color: #fff;
        font-size: 22px;
        max-width: 180px;
        text-align: center;
        font-weight: 600;
        color: #343434;
        background-color: #f4cd46;
        border-radius: 20px;
        padding: 5px 35px;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: #d1aa1b;
        }
      }
      .payment-form {
        .monri-lightbox-button-el {
          position: relative;
          &::before {
            font-family: Nunito;
            color: #343434;
            border-radius: 15px;
            min-height: 35px;
            font-size: 18px;
            width: 10rem;
            font-weight: 600;
            letter-spacing: 1px;
            background-color: #f4cd46;
            left: 10px;
            content: "Karticom💳";
            position: absolute;
            left: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 998;
          }

          span {
            font-family: Nunito;
            color: #343434;
            background-color: #3541f1;
            border-radius: 25px;
            min-height: 35px;
            font-size: 12px;
            font-weight: 600;
            width: 10rem;
          }
        }
      }
    }
  }
}
.plan-wrapper {
  width: 95%;
  margin: 10% auto;
  position: relative;

  .event-plan {
    width: 100%;
    height: auto;
    position: relative;
    cursor: default;
    z-index: 1;
  }
  .active {
    transform: scale(1.5);
  }

  .seat-wrapper {
    width: 10%;
    height: 18%;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }

    .tooltip-seat {
      border-radius: 10px;
      width: 220%;
      height: 180%;
      text-align: center;
      padding: 5px;
      transform: translatey(-15%) scale(0.8);
      @media only screen and (max-width: 1100px) {
        font-size: 12px;
      }
      @media only screen and (max-width: 900px) {
        width: 300%;
        height: 250%;
        transform: scale(0.75);
      }
      @media only screen and (max-width: 500px) {
        width: 300%;
        height: 250%;
        transform: scale(0.9);
      }
    }
    .seat-arrow {
      display: none;
    }

    div {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      .vip-icon {
        position: absolute;
        width: 40%;
        height: 40%;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .seat1 {
    top: 8.5%;
    right: 22.7%;
  }
  .seat2 {
    top: 8.5%;
    right: 46.7%;
  }
  .seat3 {
    top: 8.5%;
    right: 71.4%;
  }
  .seat4 {
    top: 41.5%;
    right: 71.4%;
  }
  .seat5 {
    top: 67.5%;
    right: 89%;
  }
  .seat6 {
    top: 12.5%;
    right: 89%;
  }
  .seat7 {
    top: 41%;
    right: 22.7%;
  }
  .seat8 {
    top: 74%;
    right: 22.7%;
  }
  .seat9 {
    top: 41%;
    right: 46.9%;
  }
  .seat10 {
    top: 74%;
    right: 46.9%;
  }
  .seat11 {
    top: 74%;
    right: 71.4%;
  }
}
