.info-page {
  padding: 40px 0;

  h4 {
    text-align: center;
    color: #455cd9;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .page-row {
    padding: 30px;

    &:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.508);
    }

    p {
      margin: 20px 0 0 0;
      font-size: 14px;
    }

    div {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  .newsletter-application {
    text-decoration: none;
    margin-top: 20px;
    display: block;
    background-color: #dbb83f;
    width: fit-content;
    color: #343434;
    padding: 5px 25px;
    border-radius: 50px;
    font-weight: 600;
  }
}
