.custom-navbar {
  width: 100%;
  background: rgb(53, 66, 134);
  background: linear-gradient(
    90deg,
    rgba(53, 66, 134, 1) 0%,
    rgba(69, 92, 217, 1) 100%
  );
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 67px;
  color: #fff;
  z-index: 9999;

  img {
    width: 40px;
  }

  .navbar-nav {
    margin-left: auto;
    width: 100%;

    li {
      margin-right: 43px;
      border-radius: 5px;
      transition: background 0.2s;
      display: flex;
      align-items: center;

      img {
        width: 17px;
      }

      a {
        color: #fff !important;
        font-size: 16px;
        font-weight: 600;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.11);
      }

      .user-icon-link {
        display: flex;
        align-items: center;
      }
    }

    .navbar-middle-part {
      margin-right: auto;
      margin-left: auto;
      display: flex;
    }

    .input-nav-link {
      margin-right: 0;
      &:hover {
        background: none;
      }
    }
  }
}
.nav-search-wrapper {
  position: relative;
  width: 100%;
  max-width: 231px;

  input {
    background-color: #fff;
    border: none;
    outline: none;
    color: #455cd9;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #455cd9;
    }
  }

  img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
  }
}
.search-nav-right {
  li {
    width: 100%;
    .nav-search-wrapper {
      max-width: 100%;
    }
  }
}
