.custom-navbar {
  width: 100%;
  background: rgb(53, 66, 134);
  background: linear-gradient(
    90deg,
    rgba(53, 66, 134, 1) 0%,
    rgba(69, 92, 217, 1) 100%
  );
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 67px;
  color: #fff;
  z-index: 9999;

  img {
    width: 40px;
  }

  .container-fluid {
    .navbar-toggler {
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 0;
      }

      img {
        width: 20px;
      }
    }
  }

  .navbar-nav {
    margin-left: auto;
    width: 100%;

    li {
      margin-right: 43px;
      border-radius: 5px;
      transition: background 0.2s;
      display: flex;
      align-items: center;

      @media only screen and (max-width: 991px) {
        margin-right: 0;
      }

      img {
        width: 20px;
      }

      a {
        color: #fff !important;
        font-size: 16px;
        font-weight: 600;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.11);
      }

      .user-icon-link {
        display: flex;
        align-items: center;
      }
    }

    .navbar-middle-part {
      margin-right: auto;
      margin-left: auto;
      display: flex;

      @media only screen and (max-width: 991px) {
        flex-direction: column;
        align-items: center;
      }

      .nav-item {
        @media only screen and (max-width: 991px) {
          margin: 0 0 5px 0;
        }
      }
    }

    .input-nav-link {
      margin-right: 0;
      &:hover {
        background: none;
      }

      @media only screen and (max-width: 991px) {
        justify-content: center;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    padding: 10px;
  }
}
.nav-search-wrapper {
  position: relative;
  width: 100%;
  max-width: 231px;

  input {
    background-color: #fff;
    border: none;
    outline: none;
    color: #455cd9;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #455cd9;
    }
  }

  img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
  }
}
.search-nav-right {
  li {
    width: 100%;
    .nav-search-wrapper {
      max-width: 100%;
    }
  }
}
.profile-link {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  position: relative;
  .dropdown {
    animation: fade-in 0.3s ease-in-out;

    height: 100px;
    width: 130px;
    position: absolute;
    top: 100%;
    right: -140%;
    background-color: rgba(69, 92, 217, 1);
    padding: 5px;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    button {
      border: none;
      background-color: transparent;
      color: #fff;
    }
    ul {
      transform: translate(-10%);
      padding: 0;
    }
    a {
      text-decoration: none;
    }
    li {
      padding-left: 15px;
      text-decoration: none;
      text-align: center;
      margin: 0 auto;

      width: 120%;
    }
  }
  @media only screen and (max-width: 991px) {
    justify-content: center;
    margin-bottom: 10px;
  }
}
