.profile {
  min-height: 600px;
  padding: 8% 5%;
  background: linear-gradient(
    0deg,
    rgba(114, 114, 114, 0.28) 0,
    rgb(239, 240, 252) 100%
  );
  .row {
    justify-content: center;
    gap: 80px;

    nav {
      margin-top: -40px;

      ul {
        list-style: none;
        padding: 0;
        max-width: 800px;
        margin: 0 auto 16px auto;

        li {
          display: inline-block;
          margin-right: 25px;

          a {
            color: #343434;
            font-weight: 600;
            padding: 3px 5px;
            border-radius: 5px;

            &:hover {
              color: #455cd9;
              background-color: #fff;
              text-decoration: none;
            }
          }
          .active-profile-nav-link {
            color: #455cd9;
            background-color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }

  .hero-profile {
    width: 300px;
    height: 450px;
    padding: 1% 1%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 5%;
    height: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    -webkit-box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    -moz-box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    p {
      margin-bottom: 4px;
    }
    .top {
      display: flex;
      align-items: center;
      gap: 5%;
      justify-content: flex-start;
      border-width: 2px !important;
      border-style: solid;
      border-image-slice: 1;
      border-width: 5px;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      border-image-source: linear-gradient(
        to right,
        #35428698 0%,
        #2794a786 100%
      );
      h4 {
        margin: 0;
      }
      img {
        margin: 5%;
        height: 48px;
        border-radius: 100%;
      }
    }
    .info {
      font-size: 16px;
      text-align: start;
      margin: 5%;
      color: #555;
      font-weight: bold;
      p {
        margin-bottom: 15px;
      }
      span {
        padding: 5px;
        color: #7c8ce4;
        font-weight: 600;
      }
    }
  }
  .profile-form {
    line-height: 14px;
    margin: 0 auto;
    padding: 2% 4% 0;
    max-width: 800px;
    height: 400px;
    background-color: #f3f3f3;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    -webkit-box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    -moz-box-shadow: -1px 22px 46px 11px rgba(186, 186, 186, 0.66);
    @media only screen and (max-width: 500px) {
      font-size: 13px;
    }
    .form {
      height: 100%;

      .organize-top-part {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 25px;

        div {
          h3 {
            font-size: 14px;
            font-weight: 600;

            span {
              color: #455cd9;
            }
          }
        }

        .images-wrapper {
          background-color: #fff;
          width: 100%;
          border-radius: 10px;
          height: 160px;
          display: flex;
          padding: 5px;
          margin-top: 10px;

          div {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:nth-child(1) {
              border-right: 1px solid rgba(69, 91, 217, 0.5);
            }
          }

          img {
            width: 20%;
            height: auto;
            cursor: pointer;
          }
        }
      }

      .organize-middle-part {
        display: flex;
        width: 100%;

        div {
          width: 50%;
          display: flex;
          align-items: center;

          input {
            width: 90%;
          }

          .location-input {
            width: 29.5%;

            &:nth-child(1) {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            &:nth-child(2) {
              border-radius: 0;
              margin: 0 2px;
            }
            &:nth-child(3) {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }

          select {
            width: 90%;
            margin-left: auto;
          }
        }

        .select-div {
          input {
            margin-left: auto;
          }

          .profile-date-input {
            &::-webkit-datetime-edit-fields-wrapper {
              color: #757575;
            }
          }
        }
      }
    }
    .organize-form {
      .row {
        padding-bottom: 20px;
      }
    }
    input,
    select,
    textarea {
      padding: 5px;
      border: none;
      margin: 10px 0;
      border-radius: 10px;
      width: 100%;
    }

    select {
      color: #455cd9;
    }

    textarea {
      height: 130px;
      resize: none;
      margin-top: 0;
    }
    .textarea-limit {
      margin: 25px 0 0 0;
      text-align: right;
      font-size: 14px;
      color: #455cd9;
    }

    button {
      margin: 20px auto 0;
      right: 50%;
      max-width: 180px;
      text-align: center;
      background-color: #f4cd46;
      border-radius: 15px;
      padding: 10px 15px;

      border: none;
      cursor: pointer;
    }
  }
}
