* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #d9def7;
}

@import "Navbar.scss";
@import "Footer.scss";
@import "Hero.scss";
