* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease;
  &::-webkit-scrollbar {
    width: 9px;
    height: 8px;
    background-color: #dfdfdf;
    border-radius: 10px;
    @media only screen and (max-width: 600px) {
      width: 8px;
      height: 6px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      rgba(36, 63, 214, 0.8) 0,
      rgba(52, 169, 247, 0.8) 100%
    );
    border-radius: 10px;

    &:hover {
      background: linear-gradient(180deg, #243fd6 0, #34a9f7 100%);
    }
  }
}

.react-tooltip {
  transition: all 0.2s ease !important;
}

.App {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
}
.Toastify__toast-body {
  font-family: 'Nunito', sans-serif;
}
body {
  font-family: 'Nunito', sans-serif;
  background: rgb(217, 222, 247);
  background: linear-gradient(
    180deg,
    rgba(141, 152, 207, 0.28) 0,
    rgb(240, 243, 255) 100%
  );
  color: #343434;
}

.disable-scroll {
  overflow: hidden;
}
.skeleton,
.skeleton-without-animation {
  background-color: #bebebe;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.2);
  height: 355px;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  animation: infiniteAnimation 2s infinite;

  div {
    width: 100%;
    margin: 0 auto;
    height: 30px;
    background-color: #ebebeb;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #9692927c;
    &:nth-child(1) {
      height: 75%;
      margin: 0 auto 10px auto;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:nth-child(3) {
      width: 70%;
      margin: 0 auto;
    }
  }
}

.skeleton-without-animation {
  animation: none;
  background-color: rgba(190, 190, 190, 0.17);

  div {
    background-color: rgba(150, 146, 146, 0.174);
  }
}

/* hide arrows
 Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield !important;
}

@keyframes infiniteAnimation {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
small {
  opacity: 0.8;
}

.navlink-active {
  background-color: rgba(255, 255, 255, 0.115);
}

@import 'MyEvent.scss';
@import 'Navbar.scss';
@import 'Footer.scss';
@import 'Hero.scss';
@import 'ThisWeek.scss';
@import 'SinglePage.scss';
@import 'Profile.scss';
@import 'Login.scss';
@import 'Buy.scss';
@import 'ThankYou.scss';
@import 'EntranceController';
@import 'AddHall';
@import 'MyTickets';
@import 'ListPage';
@import 'UserManager';
@import 'RequestResseler';
@import 'ResellerRequests';
